:root {
  --maincolor: #211951;
  --secondarycolor: #f0f3ff;
  --thirdcolor: #836fff;
  --fourthcolor: #15f5ba;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

nav img {
  width: 120px;
  height: 60px;
}

nav {
  background-color: #fff;
  /* height: 10vh; */
}

.menu button {
  display: flex;
  text-align: center;
  background-color: #fff;
}

.menu button span {
}
