:root {
  --maincolor: #211951;
  --secondarycolor: #f0f3ff;
  --thirdcolor: #836fff;
  --fourthcolor: #ffc439;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

.but .btn {
  background: rgb(0, 174, 255);
}

nav img {
  width: 120px;
  height: 60px;
}

nav {
  background-color: var(--fourthcolor);
}
/* .navbar p {
  font-size: 32px;
  align-items: center;
} */

.menu img {
  width: 50%;
}

.menu button {
  width: 10%;
  height: auto;
  border: none;
  background: transparent;
  padding-block: 20px;
  padding-inline: 20px;
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.container form button {
  border: none;
  background: transparent;
}

.items img {
  width: 8%;
}

/* .offers {
  display: grid;
  grid-template-rows: 20em 20em;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  width: 100vw;
  height: auto;
}

.offer-grid-item {
  place-self: center;
}

.hero-text {
  padding-block: 20px;
}

.hero-promo {
  padding-block: 40px;
}

.hero-promo img {
  border-radius: 15px;
} */

.form-logo img {
  width: 75%;
}

/* responsive */

@media screen and (max-width: 1656px) {
  .menu button {
    width: 15%;
    /* height: auto; */
  }
}

@media screen and (max-width: 992px) {
  .menu button {
    width: 17%;
    /* height: auto; */
  }
}

@media screen and (max-width: 792px) {
  .menu button {
    width: 17%;
    padding-inline: 0;
  }
}

@media screen and (max-width: 660px) {
  .menu button {
    width: 17%;
    padding-inline: 0;
  }
}

@media screen and (max-width: 430px) {
  .menu button {
    width: 19%;
    padding-inline: 0;
  }
}
