:root{
    --maincolor: #181825;
    --secondarycolor: #F9FAE8;
    --thirdcolor: #678983;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
}

a{
    color: #F9FAE8;
    text-decoration: none;
}

ul{
    list-style-type:none;
    
}

.column .row{
    padding: 0 0.9em;
}

.bg{
    background-color: var(--maincolor);
    height:2.5vh;
}

.flexwrap {
    display: flex;
    flex-wrap: wrap;
}

.flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexitem {
    display: flex;
    align-items: center;
    justify-content: center;

}

.flexcol {
    display: flex;
    flex-direction: column;
    gap: 5em;
}

.top-info li{
    margin-right: 7em;
    font-size:12px;
}

.top-info a:hover{
    color: #ffffff;
}

